/*font-family: 'Kaushan Script', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/
.letra1{
	font-family: 'Kaushan Script', cursive;
}
.letra2{
	font-family: 'Montserrat';
}
.letra3{
	font-family: 'Merriweather', serif;
}
.navbar-default .navbar-brand{
	color: #fec503;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a{
	color: white;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fec503;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
	position: fixed;
}
.primera{
	background-image: url(../assets/img/header-bg.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center center;
}
.navbar-default .navbar-toggle{
	border-color: #fec503;
	background-color: #fec503;
	color: white;
}
.blanco{
	color:white;
}
.naranjo{
	color:#fec503;
}
.letra2n{
	font-family: 'Montserrat';
	font-weight: 800;
	font-size: 50px;
}
.boton{
	background-color: #fec503;
	color: white;
	border-color: #fec503;
	padding: 15px;
	font-weight: bold;
	margin-top: 30px;
}
.centro{
	padding: 100px;
}
.negrita{
	font-weight: bold;
}
.gris{
	color: grey;
}
.chica{
	font-size: 11px;
}
.fa-laptop, .fa-shopping-cart{
	color: white;
	background-color: #fec503;
	font-size: 40px;
	padding: 10px;
	border-radius: 40px;
}
.fa-lock{
	color: white;
	background-color: #fec503;
	font-size: 40px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 40px;
}
.segunda{
	padding: 50px;
}
.separado{
	padding-top: 30px;
}
.tercera{
	background-color: whitesmoke;
}
.portafolio{
	background-color: white;
}
.tercera{
	padding: 50px;
}

.abajo{
	margin-bottom: 30px;
}
.espacio{
	margin-bottom: 20px;
	padding: 0 auto;
}

/*TIMELINE (Hasta linea 117 copiada)*/
.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {

    margin-bottom: 50px;
    height: 180px;
    right:-100px;
}

.timeline>li:nth-child(odd) {

    margin-bottom: 50px;
    height: 180px;
    left:-100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border-radius: 100%;
    border: 5px whitesmoke solid;
    width: 200px;
    height: 200px;
    margin-left: -100px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color:#808080;
}

.timeline{
	padding: 50px;
}
.relleno{
	z-index: 100;
	background-color:#fec503;
	width: 200px;
	height: 200px;
    position: absolute;
    left: 50%;
    border-radius: 100%;
    margin-left: -100px;
    border: 5px whitesmoke solid;
}
.letrarelleno{
	color: white;
	position: absolute;
	text-align: center;
	top: 25%;
	left: 27%;
	font-size: 20px;
}